---
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import '../../styles/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Photography";

const identity = {
    firstName: "August",
    country: "United States",
    occupation: "photographer",
    hobbies: ["photography", "rock climbing", "slacklining", "writing"]
};

const groupRate = 70;
const individualRate = 50;
---
<BaseLayout pageTitle={pageTitle}>    
    <p>Available Services:</p>
    <p>Individual Photoshoot: ${individualRate}/hour</p>
    <p>Group Photoshoot: ${groupRate}/hour</p>
</BaseLayout>